/Project/Trash
/Components
/Settings
/Project/Sources/Methods/Méthode *
/Project/Sources/Methods/_cert_*
/DossierWeb
/userPreferences.*
/letsencrypt
/Project/DerivedData/CompiledCode
dhparams.pem
cert.pem
key.pem
/Settings/buildApp.4DSettings
/Project.zip
/Documentation/Methods/Compiler_Methods.md
/Documentation/Methods/Compiler_Variables_Inter.md
/Documentation/Methods/CRC_digestBase64.md
/Documentation/Methods/DBG__dbgInitAuto.md
/Documentation/Methods/Méthode 196.md
/Documentation/Methods/Méthode 250.md
/Documentation/Methods/Méthode 251.md
/Documentation/Methods/Méthode 255.md
/Documentation/Methods/Méthode 256.md
/Documentation/Methods/Méthode 257.md
/Documentation/Methods/Méthode 258.md
/Documentation/Methods/Méthode 260.md
/Documentation/Methods/Méthode 261.md
/Documentation/Methods/Méthode 263.md
/Documentation/Methods/Méthode 265.md
/Documentation/Methods/Méthode 266.md
/Documentation/Methods/Méthode 267.md
/Documentation/Methods/Méthode 268.md
/Documentation/Methods/Méthode 269.md
/Documentation/Methods/Méthode 270.md
/Documentation/Methods/UTL_durationDifference.md
/Documentation/Methods/UTL_pathToPosixConvert.md
/Documentation.zip
/*.4BL
/*.4BK
/backupHistory.json
/Project/Sources/Methods/Methode*.4dm
/Project/Sources/settings.4DSettings
/Project/Sources/Methods/web_cookieHeader.4dm
/Project/Sources/catalog.4DCatalog
